.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 2em;
    background: #ccc;
}

.form{
    margin-bottom: 1em;
}

.card{
    display: flex;
    width: 50%;
    border: 2px solid black;
}

.card > h5 {
    margin-left: 1em
}